* {
    font-family: Garamond, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

html, body, .content {
    height: 100vh;
    background: #121212;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-body {
    display: flex;
    flex-direction: column;
    color: white;
    background: #222121;
    border: 8px groove rgb(82, 81, 81);
    border-radius: 10px;
    width: 60vmin;
    height: 80vmin;
    padding: 1.5rem;
    box-shadow: inset  -5px -5px 5px #555;
}

.output {
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    font-size: 3.5em;
    padding: 0.4em;
    text-align: right;
    background: #121212;
}

.buttons {
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2px;
    width: 59.6vmin;
    height: 67vmin;
    margin-top: 7%;
    padding: 0.7rem;
}

.buttons div button {
    width: 14vmin;
    height: 11.5vmin;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    border: 3px solid #121212;
}

.buttons div .control {
    background: #444;
    width: 21.3vmin;
}

.buttons div .control:hover {
    background: #333;
}

.num,
.other {
    background: #777;
}

.num:hover, 
.other:hover {
    background: #666;
}

.buttons div .unselected {
    background: rgb(80, 80, 85);
}

.buttons div .unselected:hover {
    background: rgb(70, 70, 75)
}

.buttons div .selected {
    background:rgba(255, 255, 255, 0.705)
}



.buttons div .zero {
    width: 28.5vmin;
}
